---
---

// import cayman
@import "{{ site.theme }}";
// toggle
.accordion {
  background-color: #159957;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  width: 100%;
  text-align: left;
  border-radius: 5px;
}

.panel {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
}

// gestion admonitions
.note { border-left: 4px solid #007acc; background: #e7f3ff; padding: 1em; margin: 1em 0; }
.tip { border-left: 4px solid #00a000; background: #e7ffe7; padding: 1em; margin: 1em 0; }
.warning { border-left: 4px solid #a80000; background: #fff7f7; padding: 1em; margin: 1em 0; }
