---
---

// import cayman
@import "{{ site.theme }}";
// listes
main ul li, 
main ol li, 
article ul li, 
article ol li {
  list-style-type: disc !important;
  list-style-position: outside !important;
  padding-left: 0.5em !important;
  margin: 0.25em 0 !important;
}

main ul, main ol, article ul, article ol {
  padding-left: 2em !important;
  margin: 1em 0 !important;
}
// gestion admonitions
.note { border-left: 4px solid #007acc; background: #e7f3ff; padding: 1em; margin: 1em 0; }
.tip { border-left: 4px solid #00a000; background: #e7ffe7; padding: 1em; margin: 1em 0; }
.warning { border-left: 4px solid #a80000; background: #fff7f7; padding: 1em; margin: 1em 0; }
